<div class="wrapper">

    <shared-navbar></shared-navbar>
    <div class="hero">
        <h1>Organiza tu trabajo y tu vida, por fin.</h1>
        <p>Concéntrate, organízate y trae calma a tu vida con TodoList. La aplicación de listas y gestión de tareas n.º 1 del mundo.</p>
        <button>Pruébalo gratis</button>
    
    </div>
    
    <div class="images">
        <img src="https://tichung.com/blog/2021/20200323_flask/feature.png" alt="">
        <img src="https://tichung.com/blog/2021/20200323_flask/feature.png" alt="">
        <img src="https://tichung.com/blog/2021/20200323_flask/feature.png" alt="">
    </div>

    <mat-accordion>
        <mat-expansion-panel (opened)="panelOpenState = true"
                             (closed)="panelOpenState = false">


          <mat-expansion-panel-header>

            <mat-panel-title>
              Probando mat accordion!!
            </mat-panel-title>

            <mat-panel-description> <!--Descripción de la barra header-->
              Currently I am {{panelOpenState ? 'open' : 'closed'}}
            </mat-panel-description>

          </mat-expansion-panel-header>

          <p>I'm visible because I am open</p>


        </mat-expansion-panel>
      </mat-accordion>


</div>
<shared-footer></shared-footer>

