header{
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    background-color: rgb(71, 114, 177);
}

.nav-links{
    display: flex;
    gap:1rem;
    font-weight: bold;

}

.nav-links a{
    border-bottom: 2px solid transparent;
    transition: border-bottom .5s;
}

.nav-links a:hover {
    border-bottom: 2px solid #fff;
    
  }