<shared-navbar></shared-navbar>

<form id="formulario">
    <h3>Iniciá sesión</h3>
    <div class="form-group">
        <div class="log-in">
            <label for="username">Tu usuario</label>
            <input type="text" id="username" name="username" placeholder="Ingresá tu nombre de usuario"
                required>
        </div>
        <div class="log-in">
            <label for="password">Tu clave</label>
            <input type="password" id="password" name="password" placeholder="Ingresá tu clave" required>
        </div>
        <div>
            <button class="btn" id="enter-btn">Ingresar</button>
            <div>
                <br>
                <span>¿No tenes cuenta?</span>
                <button class="btn" id="register-btn">Registrate</button>
            </div>
        </div>
    </div>

</form>

<shared-footer></shared-footer>