<shared-navbar></shared-navbar>
<!--IMPORTANTE: importar el modolu FormsModule, en authModule o donde se va autilizar el ngModel-->
<form id="formulario" (ngSubmit)="onSubmit()">
    <h3>Iniciá sesión</h3>
    <div class="form-group">
        <div class="log-in">
            <label for="username">Tu usuario</label>
            <input type="text" [(ngModel)]="username"  name="inputUsername" placeholder="Ingresá tu nombre de usuario"
                required>
        </div>
        <div class="log-in">
            <label for="password">Tu clave</label>
            <input type="password" [(ngModel)]="password" name="inputPassword" placeholder="Ingresá tu clave" required>
        </div>
        <div>
            <button type="submit" class="btn" >Ingresar</button>
            <div>
                <br>
                <span>¿No tenes cuenta?</span>
                <button class="btn" id="register-btn">Registrate</button>
            </div>
        </div>
    </div>

</form>

<shared-footer></shared-footer>