
<div>
    <table>
        <thead>
            <tr>
                <th>#</th>
                <th>Descripción</th>
                <th>Prioridad</th>
                <th>Estado</th>
                <th>Editar</th>
                <th>Eliminar</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let task of tasks; let i = index">
                <td>{{i + 1}}</td>
                <td>{{task.description | titlecase}}</td>
                <td>{{task.priority}}</td>
                <td>{{task.done}}</td>
                <td><button (click)="updateTask(task)">M</button></td>
                <td><button (click)="deleteTask(task.id!)">X</button></td>
                <!-- <td><button >X</button></td> -->

            </tr>
        </tbody>


    </table>

</div>

