<shared-navbar></shared-navbar>
<form id="formulario" (ngSubmit)="onSubmit()">
    <h3>Registrate en To Do List</h3>
    <div class="form-group">
        <div class="check-in">
            <label for="username">Tu usuario</label>
            <input type="text" id="username" name="username" [(ngModel)] = "user.username" placeholder="Ingresá tu nombre de usuario"
                required>
        </div>
        <div class="check-in">
            <label for="email">Tu email</label>
            <input type="email" id="email" name="email" [(ngModel)] = "user.email" placeholder="Ingresá tu email" required>
        </div>
        <div class="check-in">
            <label for="password">Tu clave</label>
            <input type="password" id="password" name="password" [(ngModel)] = "user.password" placeholder="Ingresá tu clave" required>
        </div>

        <div>
            <button class="btn" id="register-btn">Registrate</button>
            <div>
                <br>
                <span>¿Ya tenes cuenta?</span>
                <button class="btn" id="enter-btn" type="submit">Iniciá sesión</button>
            </div>
        </div>
    </div>

</form>
<shared-footer></shared-footer>